body {
	background-color: #d2d2d2;
	color: #6998d5;
	font-family: Benton Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	text-decoration: none;
 }

ul,a {
	color: #6998d5;
	list-style-type: none;
 }

h1 {font-family: 'Indie Flower', cursive;}

a {text-decoration: none;}

	a:hover {background-color: #e4e7cd;}

.mainContainer {
	background-color: white;
	text-align: center;
	width: 100%;
 }

.topBanner {
	background-color: #d4d8e4;
	border-top: 2px solid #6998d5;
	height: 100px;
	padding-bottom: 30px;
	padding: 20px;
 }

	.topBanner h1 {
		font-family: 'Indie Flower', cursive;
		font-size: 50px;
		margin-left: 100px;
		margin-right: 100px;
	 }

	.topBanner li {
		display: inline-block;
		text-align: center;
	 }

.your-class img {
	height: 550px;
	margin: auto;
	width: 80%;
 }

.middleSection {
	background-color: #d4d8e4;
	height: 100px;
	margin: 0;
 }

#OurHistoryAppend {
	background-color: #d4d8e4;
	border-bottom: 2px solid #6998d5;
	height: 330px;
 }

	#OurHistoryAppend p {
		color: #6998d5;
		font-family: 'Indie Flower', cursive;
		font-size: 30px;
		margin: 0;
		padding: 0;
		text-align: center;
	 }

.middleSection li {
	display: inline-block;
	padding: 60px
 }

#OurHistoryAppend {display: none;}

.Destinations {
	background-color: #fbfbfb;
	margin: 0;
	padding: 30px;
 }

	.Destinations li {
		display: inline-block;
		padding: 10px;
		text-align: center;
	 }

	.Destinations img {
		border: 1px solid #021a40;
		height: 200px;
		width: 250px;
	 }

.DestinationsCaptions li {font-size: 30px;}

.footer {
	background-color: #a5bcd4;
	padding: 80px;
 }

	.footer li {
		color: white;
		display: inline-block;
		font-size: 30px;
		padding-left: 30px;
	 }

.hovereffect {
	cursor: default;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
 }

	.hovereffect .overlay {
		-webkit-transition: all .4s ease-in-out;
		background-color: rgba(0,0,0,0.5);
		height: 100%;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		transition: all .4s ease-in-out
		width: 100%;
	 }

	.hovereffect img {
		-webkit-transition: all .4s linear;
		display: block;
		position: relative;
		transition: all .4s linear;
	 }

	.hovereffect h2 {
		-ms-transform: translatey(-100px);
		-webkit-transform: translatey(-100px);
		-webkit-transition: all .2s ease-in-out;
		background: rgba(0,0,0,0.6);
		color: #fff;
		font-size: 17px;
		padding: 10px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		transform: translatey(-100px);
		transition: all .2s ease-in-out;
	 }

	.hovereffect a.info {
		-webkit-transition: all .2s ease-in-out;
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
		display: inline-block;
		filter: alpha(opacity=0);
		margin: 50px 0 0;
		opacity: 0;
		padding: 7px 14px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all .2s ease-in-out;
	 }

		.hovereffect a.info:hover {box-shadow: 0 0 5px #fff;}

	.hovereffect:hover img {
		-ms-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	 }

	.hovereffect:hover .overlay {
		filter: alpha(opacity=100);
		opacity: 1;
	 }

	.hovereffect:hover h2,.hovereffect:hover a.info {
		-ms-transform: translatey(0);
		-webkit-transform: translatey(0);
		filter: alpha(opacity=100);
		opacity: 1;
		transform: translatey(0);
	 }

	.hovereffect:hover a.info {
		-webkit-transition-delay: .2s;
		transition-delay: .2s;
	 }

.praguebutton {
	margin-left: 150px;
	margin-right: 150px;
 }

.tilt {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
 }

.tilt__back,
.tilt__front {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
 }

.tilt__back {position: relative;}

.tilt__front {
	left: 0;
	position: absolute;
	top: 0;
 }

.button {
	background-color: #5d5d5d; /* Green */
	border: none;
	color: white;
	display: inline-block;
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
 }
